Django==1.8.2
django-appconf==1.0.1
django-ckeditor==4.4.8
django-dynamic-preferences==0.5.4
django-imagekit==3.2.6
django-registration==1.0
pilkit==1.1.12
Pillow==2.8.2
requests==2.7.0
selenium==2.47.1
six==1.9.0
South==1.0.2
stripe==1.22.3
wheel==0.24.0
