asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
confusable-homoglyphs==2.0.2
Django==3.1.13
django-appconf==1.0.4
django-ckeditor==5.6.1
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-dynamic-preferences==1.10.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-registration==2.3
flake8==3.3.0
idna==2.10
mccabe==0.6.1
olefile==0.46
persisting-theory==0.2.1
pilkit==2.0
Pillow==8.1.1
pycodestyle==2.3.1
pyflakes==1.5.0
pytz==2017.3
requests==2.24.0
selenium==3.7.0
six==1.15.0
South==1.0.2
sqlparse==0.4.1
stripe==1.75.0
urllib3==1.25.10
whitenoise==5.2.0
