@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);

.gcw_mainFUXTYkABv * {
    padding: 0 !important;
    margin: 0 !important;
    color: inherit !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    background-color: inherit !important;
    border: 0 !important;
}
.gcw_mainFUXTYkABv {
    display: block !important;
    border: 0px solid #A6C9E2 !important;
    background-color: #222 !important;
    color: #fff !important;
    width: 100% !important;
    margin: auto !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
    text-align: center !important;
    padding: 4px !important;
}
.gcw_headerFUXTYkABv {
    visibility: hidden;
}
.gcw_headerFUXTYkABv a {
    visibility: hidden;
}
.gcw_ratesFUXTYkABv {
    padding: 2px !important;
}
#gcw_siteFUXTYkABv {
    font-size: x-small;
    text-align: right;
    width: 100%;
    display: block;
    margin: auto;
}
.gcw_tableFUXTYkABv th {
    font-weight: 700 !important;
}
.gcw_tableFUXTYkABv {
    border-spacing: 0 !important;
    width: 100% !important;
    color: inherit !important;
    margin: 0 !important;
    border: 0 !important;
    white-space: nowrap !important;
    background-color: inherit !important;
}
.gcw_signFUXTYkABv {
    padding: 4px 3px 4px 3px !important;
    text-align: right !important;
    max-width: 3em !important;
    overflow: hidden !important;
    width: 0;
}
.gcw_flagFUXTYkABv {
    padding-right: 2px !important;
    width: 24px !important;
    max-width: 24px !important;
}
#gcw_refreshFUXTYkABv {
    visibility: hidden;
    margin-right: 22px !important;
    color: inherit !important;
}
.gcw_sourceFUXTYkABv {
    font-size: 100% !important;
    clear: both !important;
    text-align: left !important;
    position: relative !important;
    color: #2E6E9E !important;
    padding: 5px 2px 1px 2px !important;
}
.gcw_infoFUXTYkABv {
    visibility: hidden;
}
.gcw_info-bgFUXTYkABv {
    visibility: hidden;
}
.gcw_info-signFUXTYkABv {
    visibility: hidden;
}
.gcw_ttlFUXTYkABv {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    margin: 0 0 !important;
    text-align: left !important;
    color: inherit !important;
    font-size: inherit !important;
    padding: 2px !important;
    width: 70%;
}
.gcw_valblockFUXTYkABv {
    text-align: right !important;
    width: 30%;
    max-width: 8em;
    min-width: 4em;
}
.gcw_inputFUXTYkABv {
    font: inherit !important;
    width: 100% !important;
    color: #000000 !important;
    font-weight: bolder !important;
    background-color: #FCFDFD !important;
    border: 1px solid #C5DBEC !important;
    text-align: right !important;
    padding: 2px 2px !important;
    margin: 1px 0 1px 2px !important;
    display: inline !important;
    box-sizing: border-box !important;
}
.gcw_selectFUXTYkABv {
    padding: 2px !important;
    width: 100% !important;
    font-size: inherit !important;
    -webkit-appearance: button !important;
    -webkit-border-radius: 2px !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-padding-end: 20px !important;
    -webkit-padding-start: 2px !important;
    -webkit-user-select: none !important;
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5) !important;
    background-color: #EEEEEE !important;
    border: 1px solid #C5DBEC !important;
    color: #000 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}