{% extends "base.html" %}
{% load url_tags %}
{% load humanize %}

{% block pagetitle %}
	{{ vehicle }}
{% endblock %}

{% block content %}
{% with vehicle.images.get_main_image.image as image %}
{% with vehicle.images.get_additional_images as images %}
    <div id="content">
		<div class="page-title">
			<div class="container">
                <h3>{{ vehicle }}</h3>
                <ul class="breadcrumb">
                    <li><span class="fa fa-home">&nbsp;</span><a href="{% url 'home' %}">Home</a></li>
                    {% if vehicle.category.category_parent %}
                        <li>
                            <a href="{% url 'category' vehicle.category.category_parent.slug %}">
                                {{ vehicle.category.category_parent.category_name }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                    	<a href="{% url 'category' vehicle.category.slug %}">
                    		{{ vehicle.category.category_name }}
                    	</a>
                    </li>
                    <li class="active">{{ vehicle }}</li>
                </ul><!--end breadcrumb -->
            </div>
		</div><!--end page-title -->
<!-- start main container -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>{{ vehicle }}</h3>
					<small class="text-danger"><i class="fa fa-clock-o"></i> {{ vehicle.timestamp|naturalday:'F d, Y' }} </small>
					<a href="{% url 'category' vehicle.category.slug %}" class="label label-primary">
                        <i class="fa fa-tag"></i> {{ vehicle.category.category_name }}</a>
                    <a href="{% url 'category' vehicle.category.slug %}{% add_to_query_string request make=vehicle.make.slug %}" class="label label-warning">
                        <i class="fa fa-tag"></i> {{ vehicle.make.v_make }}</a>
                    <h4>Description</h4>
                    <p>{{ vehicle.desc|safe }}</p>
                    <div class="row">
	                    <table class="table table-striped">
	                    	{% if vehicle.make %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Make:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.make }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.model %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Model:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.model }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.year %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Year:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.year }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.fuel_type %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Fuel Type:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.fuel_type|title }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.transmission %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Transmission:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.transmission|title }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.mileage %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Mileage:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.mileage|intcomma }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    	{% if vehicle.colour %}
	                    	<tr>
	                    		<td class="text-left">
	                    			<strong>Colour:</strong>
	                    		</td>
	                    		<td class="text-right">
	                    			{{ vehicle.colour }}
	                    		</td>
	                    	</tr>
	                    	{% endif %}
	                    </table>
	                </div>
				</div>
				<div class="col-md-6">
					<div id="carousel-vehicle-images" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-vehicle-images" data-slide-to="0" class="active"></li>
                            {% for image in images %}
                            <li data-target="#carousel-vehicle-images" data-slide-to="{{ forloop.counter }}"></li>
                            {% endfor %}
                        </ol>
			            <div class="carousel-inner" role="listbox">
			                <div class="item active">
			                	<div style="background:url({{ image.url }}) center center; 
          							background-size:cover;" class="slider-size img-responsive"></div>
			                </div>
		                	{% for image in images %}
		                	<div class="item">
		                		<div style="background:url({{ image.image.url }}) center center; 
          							background-size:cover;" class="slider-size"></div>
			                </div>
			                {% endfor %}
						</div>
						<!-- Controls -->
						{% if images|length > 0 %}
						<a class="left carousel-control" href="#carousel-vehicle-images" role="button" data-slide="prev">
						  	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						  	<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-vehicle-images" role="button" data-slide="next">
						  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						  	<span class="sr-only">Next</span>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div><!--end content -->
{% endwith %}
{% endwith %}
{% endblock %}