{% extends "base.html" %}

{% block pagetitle %}Home{% endblock %}

{% block slider %}

  {% if sliders %}
  <div id="slider-container">
	<div class="container">
	  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  {% for slider in sliders %}
			{% if forloop.first %}
			  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
			{% else %}
			  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
			{% endif %}
		  {% endfor %}
		</ol>
		<!-- Wrapper for slides -->
		  <div class="carousel-inner">
			{% for slider in sliders %}
			  {% if forloop.first %}
			  <div class="item active">
			  {% else %}
			  <div class="item">
			  {% endif %}
				<img src="{{ slider.banner.url }}" />
				{% if slider.caption %}
				  <div class="carousel-caption">
					<h3>{{ slider.caption|safe }}</h3>
				  </div>
				{% endif %}
			  </div>
			{% endfor %}
		  </div>
		{% if sliders|length > 1 %}
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		{% endif %}
	  </div> <!-- Carousel -->
	</div> <!-- /container -->
  </div><!-- slider/container -->
  {% endif %}

{% endblock %}

{% block content %}

  <div id="content">
	<div class="container">
		<hr />
		<!-- Categories -->
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-align-justify"></i> Categories</h2>
			</div>
		</div> <!-- /row -->
		<div class="row category-container">
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #1</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p><a href="javascript:;" class="">View Project »</a></p>			
				</div>
			</div> <!-- /grid-3 -->
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #2</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p><a href="javascript:;" class="">View Project »</a></p>			
				</div>
			</div> <!-- /grid-3 -->
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #3</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p><a href="javascript:;" class="">View Project »</a></p>			
				</div>
			</div> <!-- /grid-3 -->
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #4</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p><a href="javascript:;" class="">View Project »</a></p>			
				</div>
			</div> <!-- /grid-3 -->
		</div> <!-- /row -->
		<hr />
		<!-- Categories -->
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-align-justify"></i> Recently Added!</h2>
			</div>
		</div> <!-- /row -->
		<div class="row recently-container">
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #1</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->		
				</div>
			</div> <!-- /grid-3 -->
			
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #2</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->		
				</div>
			</div> <!-- /grid-3 -->
			
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #3</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->	
				</div>
			</div> <!-- /grid-3 -->
			
			<div class="col-sm-3">
				<div class="work-item">
					<h3>Category #4</h3>
					<a class="thumbnail">
						<img src="http://placehold.it/270x140" alt="" />
					</a> <!-- /img -->	
				</div>
			</div> <!-- /grid-3 -->
		</div> <!-- /row -->	
	  </div> <!-- /container -->
	</div><!-- /content -->
{% endblock %}