{% extends "base.html" %}

{% block pagetitle %}Home{% endblock %}

{% block slider %}

  {% if sliders %}
  <div id="slider-container">
	<div class="container">
	  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  {% for slider in sliders %}
			{% if forloop.first %}
			  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
			{% else %}
			  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
			{% endif %}
		  {% endfor %}
		</ol>
		<!-- Wrapper for slides -->
		  <div class="carousel-inner">
			{% for slider in sliders %}
			  {% if forloop.first %}
			  <div class="item active">
			  {% else %}
			  <div class="item">
			  {% endif %}
				<img src="{{ slider.banner.url }}" class="img-responsive" />
				{% if slider.caption %}
				  <div class="carousel-caption">
					<h3>{{ slider.caption|safe }}</h3>
				  </div>
				{% endif %}
			  </div>
			{% endfor %}
		  </div>
		{% if sliders|length > 1 %}
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		{% endif %}
	  </div> <!-- Carousel -->
	</div> <!-- /container -->
  </div><!-- slider/container -->
  {% endif %}

{% endblock %}

{% block content %}

  <div id="content">
	<div class="container">
		<hr />
		<!-- Categories -->
		{% if top_4_categories %}
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-align-justify"></i> Categories</h2>
			</div>
		</div> <!-- /row -->
		<div class="row category-container">
		  {% for category in top_4_categories %}
			<div class="col-sm-3">
				<div class="work-item">
					<h3>{{ category.category_name }}</h3>
					<a href="{% url 'category' category.slug %}" class="thumbnail">
						<img src="{{ category.category_image }}" alt="{{ category.category_name }}" title="{{ category.category_name }}" />
					</a> <!-- /img -->
					<p><a href="{% url 'category' category.slug %}" class="btn btn-primary">View Category »</a></p>			
				</div>
			</div> <!-- /grid-3 -->
		  {% endfor %}
		</div> <!-- /row -->
		{% endif %}
		<hr />
		<!-- Recently added vehicles -->
		{% if top_4_vehicles %}
		<div class="row">
			<div class="col-md-12">
				<h2><i class="fa fa-align-justify"></i> Recently Added!</h2>
			</div>
		</div> <!-- /row -->
		<div class="row recently-container">
		  {% for vehicle in top_4_vehicles %}
		  {% with vehicle.images.get_main_image.thumbnail as thumb %}
			<div class="col-sm-3">
				<div class="work-item">
					<h3>{{ vehicle }}</h3>
					<a href="{% url 'vehicle' vehicle.category.slug vehicle.pk vehicle.slug %}" class="thumbnail">
						<img class="img-responsive" src="{{ thumb.url }}" alt="{{ vehicle }}" title="{{ vehicle }}" />
					</a> <!-- /img -->		
				</div>
			</div> <!-- /grid-3 -->
		  {% endwith %}
		  {% endfor %}
		</div> <!-- /row -->
		{% endif %}
	</div> <!-- /container -->
  </div><!-- /content -->
{% endblock %}